*.ipr
*.iws
*.iml
*.ids
.project
.settings
.idea
.classpath
.surefire-*

target
*.jar
*.war
*.ear
*.class
rebel.xml
velocity.log

# eclipse specific git ignore
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.DS_Store

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
