<?xml version="1.0" ?>
<configuration>

    <source source-name="Source1" file-name="File1" enabled="true" visible="true" >
        <file-url>C:\tmp\</file-url>
        <approved>false</approved>
        <owner>
            <name>Nikola</name>
            <last-name>Cakarevic</last-name>
        </owner>
    </source>

    <source source-name="Source1" file-name="File2" enabled="true" visible="true" >
        <file-url>C:\tmp\</file-url>
        <approved>false</approved>
        <owner>
            <name>Marija</name>
            <last-name>Djuranovic</last-name>
        </owner>
    </source>

</configuration>